#input1 {
    margin: 4em 8em 0em 6.7em;
    padding: 8px 16px;
  }
  #input2 {
    margin: 0em 8em 0em 4.9em;
    padding: 8px 16px;
  }
  #input3 {
    margin: 0em 8em 2em 5.4em;
    padding: 8px 16px;
  }
  .div1 {
    margin: 0em 4em 0em 5em;
  }
  .div2 {
    margin: 0em 4em 0em 5em;
  }
  .div3 {
    margin: 0em 4em 0em 5em;
  }
  .divbtn {
    margin: 2em 4em 0em 5em;
  }
  .btn {
    padding: 25px 100px;
    background-color: white;
    font: bold;
  }
 .tbldiv{
    margin: 2em 4em 0em 2em;

 }
 th{
     padding : 3px 58px;
     display: inline;
 }

 